@model IEnumerable<Models.Product>
@{
    ViewData["Title"] = "Product List";
}

<div class="text-center" style="margin-top:2%">
    <h1>CoverType List</h1>
    <table id="ProductTable" class="table table-hover" style="width:100%;margin:2% auto">
        <thead>
            <tr class="table-primary">
                <th >
                    Title
                </th>
                <th>
                    Category
                </th>
                  
                  <th >
                    Price
                </th>
                 
                  <th >
                    Price 50
                </th>
                  <th >
                    Price 100
                </th>
                  
                <th>
                 
                </th>
            </tr>


        </thead>
        <tbody>
           
        </tbody>
    </table>
    <a class="btn btn-primary" asp-area="Users" asp-controller="Home" asp-action="Upsert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg> Add a Category
    </a>

</div>

@section Scripts{
    <script src="~/js/Product.js"></script>

}
